@import "tailwindcss";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --text-color: #b3b3b3;
}

html, body {
  font-family: 'Pretendard-Regular';
  color: var(--text-color);
}

body {
  cursor: none;
}

button, a {
  cursor: none !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    #2563eb,
    #7c3aed
  );
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}